.searchBox {

    margin: 20px auto 0;
    max-width: 700px;
    padding: 20px;



    label {
        display: flex;
        margin: 0 auto 20px;
        flex-direction: column;
        gap: 10px;
        font-size: 24px;
        font-weight: 500;
        color: #CD00CD;
        padding: 20px 10px;
        border-radius: 8px;
        box-shadow: #58c8dc9e 0px 7px 29px 0px;

        input {
            padding: 8px;
            border-radius: 6px;
            border-color: black;
            background-color: transparent;
            font-size: 18px;
            color: black;

            &:focus {
                outline: none;
            }
        }
    }
}