.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 0;
    max-width: 700px;
    padding: 20px;


    form {
        width: 100%;
        padding: 20px 10px;
        border-radius: 8px;
        box-shadow: #cd00cd66 0px 7px 29px 0px;
    }

    label {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-weight: 500;
        color: #CD00CD;
        margin-bottom: 20px;

        input {
            color: black;
            font-size: 18px;
            padding: 8px;
            border-radius: 6px;
            border-color: black;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }
    }

    button {
        background-color: #58c8dc;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 8px;
        color: white;
        transition: color 250ms ease;

        &:hover {
            color: #CD00CD;
        }
    }

    p {
        margin-top: 20px;
        font-size: 18px;
        color: gray;

        a {
            padding: 5px;
            border-radius: 8px;
            color: #CD00CD;
            transition: background-color 250ms ease, color 250ms ease;

            &:hover {
                color: white;
                background-color: #58c8dc;
            }
        }
    }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .formContainer {
        p {
            font-size: 16px;
        }
    }
}

.error {
    color: red;

}