.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    button {
        background-color: #58c8dc;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 8px;
        color: white;
        transition: color 250ms ease;

        &:hover {
            color: #CD00CD;
        }
    }
}