.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: #cd00cd66 0px 7px 29px 0px;

    p {
        font-size: 18px;
        text-align: start;
        width: 250px;
        padding-left: 15px;
        border-right: 1px solid #CD00CD;
    }

    button {
        background-color: unset;
        border: none;
        padding: 0 15px;
        transition: fill 250ms ease;

        .icon {
            fill: #CD00CD;

        }

        &:hover .icon {
            fill: gray;

        }
    }

}



@media screen and (min-width: 320px) and (max-width: 767px) {
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        p {

            text-align: center;

            border-right: unset;
        }

        button {
            width: 100px;
        }
    }
}