.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
  margin: 0 auto;

  img {
    display: flex;
    margin: 0 auto;
    width: 320px;
    height: 320px;
  }

  h1 {
    margin: 0 auto;
    max-width: 300px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(29, 26, 26);
  }

  h1 span {
    color: #f11010;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    img {
      width: 750px;
      height: 750px;
    }

    h1 {
      max-width: 600px;
      font-size: 40px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    img {
      width: 600px;
      height: 600px;
    }

    h1 {
      font-size: 60x;
    }
  }
}
